html, body, div {
    margin: 0;
    padding: 0;
}

.column {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

#search-form {
    margin-top: 40px;
    text-align: center;
}

#tag-input {
    width: 500px;
    margin: 0 auto;
}

#search-button {
    height: 32px;
    margin: 0 auto;
}

ul {
    list-style-type: None;
}

.product-label {
    font-weight: bold;
    margin-left: 10px;
}

#product-list {
    margin-top: 20px;
}

a:hover {
    cursor: pointer;
}

div.login-form-container {
    margin-top:25px;
    width: 625px;
}

.login-form-container tr {
    height: 30px;
}

.login-form-container td {
    text-align: right;
}

.login-form-container input {
    float: right;
}

.login-form-container form {
    display: inline-block
}

form.login-form-left {
    float: left;
}

form.login-form-right {
    float: right
}
